<div class="column-flex align-center justify-center h100">
    <!-- PERÍODO 1 -->
    <div class="periodo column-flex align-center">
        <span class="medium w100">Período 1</span>
        <div class="campos row-flex justify-center w100">
            <mat-form-field appearance="fill">
                <mat-icon color="success" matPrefix>call_made</mat-icon>
                <mat-label>Entrada</mat-label>
                <input matInput mask="Hh:m0">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-icon color="warn" matPrefix>call_received</mat-icon>
                <mat-label>Saída</mat-label>
                <input matInput mask="Hh:m0">
            </mat-form-field>
        </div>
    </div>

    <!-- PERÍODO 2 -->
    <div class="periodo column-flex align-center">
        <span class="medium w100">Período 2</span>
        <div class="campos row-flex justify-center w100">
            <mat-form-field appearance="fill">
                <mat-icon color="success" matPrefix>call_made</mat-icon>
                <mat-label>Entrada</mat-label>
                <input matInput mask="Hh:m0">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-icon color="warn" matPrefix>call_received</mat-icon>
                <mat-label>Saída</mat-label>
                <input matInput mask="Hh:m0">
            </mat-form-field>
        </div>
    </div>

    <!-- BOTÃO SALVAR -->
    <button mat-raised-button (click)="salvarJornada()" color="primary">SALVAR</button>
</div>