<mat-toolbar color="primary">
    <div class="row-flex justify-center align-center flex-auto">
        <!-- PERÍODO 1 -->
        <div class="row-flex align-center justify-evenly w50">
            <div class="row-flex align-center">
                <mat-icon class="text-md-2 semi-bold" color="success">call_made</mat-icon>
                <span class="text-sm">08:00</span>
            </div>
            <div class="row-flex align-center horario saida">
                <mat-icon class="text-md-2 semi-bold" color="warn">call_received</mat-icon>
                <span class="text-sm">12:00</span>
            </div>
        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <!-- PERÍODO 2 -->
        <div class="row-flex align-center justify-evenly w50">
            <div class="row-flex align-center">
                <mat-icon class="text-md-2 semi-bold" color="success">call_made</mat-icon>
                <span class="text-sm">13:00</span>
            </div>
            <div class="row-flex align-center">
                <mat-icon class="text-md-2 semi-bold" color="warn">call_received</mat-icon>
                <span class="text-sm">18:00</span>
            </div>
        </div>
    </div>
</mat-toolbar>
